@font-face {font-family: "YS Text Regular"; src: url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot"); src: url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff") format("woff"), url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.svg#YS Text Regular") format("svg"); }

* {
    font-family: 'YS Text Regular', serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;

    width: 1200px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.zeroingParagraph p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #7F8285;
}

a:hover {
    color: #E00000;
}

.greyParagraph {
    color: #7F8285;
}

header * {
    margin: 0;
    padding: 0;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header {
    padding-bottom: 8px;
}


.main {
    display: flex;
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main .wrapper p {
    width: 264px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 24px;
}

.toolIcon {
    margin-bottom: 32px;
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    width: 100%;
    background-color: #F0F2F3;
}

.footer ul {
    display: flex;
    list-style-type: none;
}

.footer ul li {
    padding-right: 15px;
}


h1 {
    color: #7F8285;
}

.btn-grey {
    display: flex;
    align-items: center;
    height: 28px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E6E6E6;
    padding-left: 8px;
    padding-right: 13px;
}

.btn-grey .settingsIcon {
    margin-right: 5px;
}

.btn-gold {
    padding: 0 20px;
    height: 36px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFCC00;
}

.btn-gold:hover {
    background: #F2C200;
}

.btn-gold:focus {
    border: 2px solid #B38F00;
}

.btn-gold:disabled {
    background: #F2F2F2;
}

.btn-grey:hover {
    background: #DBDBDB;
}

.btn-grey:focus {
    border: 2px solid #B3B3B3;
}

.btn-grey:disabled {
    background: #F2F2F2;
}